[github]
organization = "my_org"

[observer]
default_rotation_days = 180
expiration_notice_days = 14
ignore_pattern = r"IGNORE\d+_"
ignore_secrets = [
    "MY_SECRET_1"
]

[notification]
github_annotation = true
slack_webhook = "https://hooks.slack.com/services/XXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX"